{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>

<a href="/articles/{{article.id}}/edit">Edit</a>
<a href="/articles">Go to Article List</a>

{{>layouts/footer}}